    <footer>
        <p>&copy;2024 Philip Twine. <a href="https://www.linkedin.com/in/philiptwine/">LinkedIn</a> / <a href="https://twitter.com/philiptwine">X</a></p>
    </footer>

  </main>
</body>

</html>