@import '_components';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	background: $bgr1;
}
body {
	color: $c2;
	background: url('/assets/images/background.png') top no-repeat;
}

img {
	margin: 0;
}

// ---------------------------------------------------------
// Anchors
// ---------------------------------------------------------
a {
	color: $c1;
	text-decoration: none;
	font-family: $ff1;
	border-bottom: 2px solid $ca1;
	padding-bottom: 5px;
	&:active {
		opacity: .5;
		color: inherit;
	}
	&:link {
		color: inherit;
	}
	&:visited {
		color: inherit;
	}
	&:hover {
		color: $c1;
		border-bottom: 3px solid $ca1;
		color: $ca1;
	}
}

.a-no-link, .a-no-link:hover, .a-no-link:after {
	border: 0;
	content:'';
}

// ---------------------------------------------------------
// Offcanvas Menu
// ---------------------------------------------------------
#canvas {
	margin: 0 auto;
	padding: $sp1 0;
}

// ---------------------------------------------------------
// Header
// ---------------------------------------------------------
.header {
	font-size: $fs1;
	color: $c1;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 $sp1;
}

.logo {
	order: 1;
	font-size: 1.2rem;
}

.header a {
	font-family: $ff2;
}

.nav {
	order: 2;
	color: $c1;
	margin-left: auto;
}

.nav ul li {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 0 0 $sp1;

	a {
		border: 0;
		&:hover, &.active {
			padding: 0 0 5px 0;	
			border-bottom: 2px solid $ca1;
		}				
	}
}

.menu {
	margin-left: 0;
	padding-left: 0;
}


@media #{$bt}, #{$bd} {
	.header {
		padding: $sp1 $sp3; 
	}
	
	.nav ul {
		li {
			text-align: left;
			margin: 0 0 0 $sp3;
		}
	}
}



// ---------------------------------------------------------
// home
// ---------------------------------------------------------

.hero-image {
    border: 0 !important;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.2s ease;
	margin: 0 auto;
}

.home-project .flex {
}

.intro {
	max-width: 1024px;
	margin-bottom: $sp4;
	background: $bgr1;
	padding: 0 $sp1;	
}

.home-project {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: $sp3 0;
}

.home-project .image {
	text-align: center;
}

.home-project .info {
<<<<<<< HEAD
	margin: $sp1;
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
=======
	margin: -$sp1 $sp1 0;
	order: 2;
	text-align: left;

>>>>>>> parent of 58eb212... Work in progress
}

@media #{$bd} {

	.intro {
		padding: 0 $sp3;	
	}

<<<<<<< HEAD
	.home-project {
		height: 750px !important;
	}

	.home-project .image {
		max-height: 650px;
	}

=======
>>>>>>> parent of aed50e0... Completed dev
	.home-project .image {
		flex-basis: 50%;
	}

	.home-project .info {
	}

	.hero-image {
		max-height: 650px;
	}
}

// ---------------------------------------------------------
// Footer
// ---------------------------------------------------------
.footer {
	width: 100%;
	position: relative;
	font-size: 11px;
	text-align: left;
	padding: $sp1 0 $sp2*2 0;
	a {
		border: 0 !important;
	}
}


// ---------------------------------------------------------
// Articles
// ---------------------------------------------------------
article {
	margin-bottom: $sp4;
	padding: 0 $sp3 !important;
	@media #{$bd} {
		width: 100%;
	}
}