@import '_components';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	background: $bgr1;
}
body {
	color: $c2;
	
}

img {
	margin: 0;
}

// ---------------------------------------------------------
// Anchors
// ---------------------------------------------------------
a {
	color: $c1;
	text-decoration: none;
	font-family: $ff1;
	border-bottom: 2px solid $ca1;
	padding-bottom: 5px;
	&:active {
		opacity: .5;
		color: inherit;
	}
	&:link {
		color: inherit;
	}
	&:visited {
		color: inherit;
	}
	&:hover {
		color: $c1;
		border-bottom: 3px solid $ca1;
		color: $ca1;
	}
}

.a-no-link, .a-no-link:hover, .a-no-link:after {
	border: 0;
	content:'';
}

// ---------------------------------------------------------
// Offcanvas Menu
// ---------------------------------------------------------
#canvas {
	margin: 0 auto;
	max-width: 1160px;
	padding: $sp1;
}

// ---------------------------------------------------------
// Header
// ---------------------------------------------------------
.header {
	font-size: $fs1;
	color: $c1;
	display: flex;
	flex-direction: column;
}

.logo {
	order: 0;
	font-size: 1.2rem;
}

.header a {
	font-family: $ff2;
}

.nav {
	order: 1;
	color: $c1;
}

.nav ul li {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0 $sp1 0 0;

	a {
		border: 0;
		&:hover, &.active {
			padding: 0 0 5px 0;	
			border-bottom: 2px solid $ca1;
		}				
	}
}

.menu {
	margin-left: 0;
	padding-left: 0;
}


@media #{$bd} {
	
	#canvas {
		padding: $sp2;
	}

	.header {
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}

	.nav {
		margin-left: auto;
	}
	
	.nav ul {
		li {
			text-align: left;
			margin: 0 0 0 $sp3;
		}
	}

	.nav ul li {
		margin: 0 0 0 $sp1;
	}

	.intro {
		margin: $sp6 0;
	}
}



// ---------------------------------------------------------
// home
// ---------------------------------------------------------

.hero-image {
    border: 0 !important;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.2s ease;
}

.intro {
	margin-bottom: $sp4;
}

.home-project {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: $sp3 0;
}

.home-project .image {
	order: 1;
	text-align: center;
}

.home-project .info {
	margin: -$sp1 $sp1 0;
	order: 2;
	text-align: left;
}

@media #{$bd} {
	.home-project {
		
	}

	.home-project .image {
		flex-basis: 50%;
	}

	.home-project .info {
		flex-basis: 30%;
	}

	.hero-image {
		max-height: 700px;
	}
}

// ---------------------------------------------------------
// Project
// ---------------------------------------------------------

.project {
	display: flex;
 	flex-direction: column;

	.sidebar {
		order: 1;
	}

	.spacer {
		order: 2;
	}

	.content {
		order: 3;
	}

}

@media #{$bd} {

	.project {
		flex-direction: row-reverse;
	}

}

// ---------------------------------------------------------
// Footer
// ---------------------------------------------------------
.footer {
	width: 100%;
	position: relative;
	font-size: 11px;
	text-align: left;
	padding: $sp1 0 $sp2*2 0;
	a {
		border: 0 !important;
	}
}


// ---------------------------------------------------------
// Articles
// ---------------------------------------------------------
.article {
	margin-bottom: $sp4;
	@media #{$bd} {
		width: 100%;
	}
}

.article-date {
	color: $c3;
	font-size: $fs3;
}
.article-more {
	border-color: transparent;
}

figure {
	margin: 0 0 30px 0;
	text-align: center;
}

.full-width {
	width: 80vw;
  position: relative;
  left: 40%;
  right: 40%;
  margin-left: -40vw;
  margin-right: -40vw;
}

@media #{$bd} {

.sticky-module {
	position: -webkit-sticky;
	position: sticky !important;
	top: 20px;
}

}

.sidebar ul {
	list-style: none;
	margin:0;
	padding:0;
	line-height: 2em;
}

.text ul {
	margin: 0 0 $fs3 0;
	padding-left: 1.2em; 
}
