/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */

.fadein {
	-webkit-animation: slide-in-bottom 0.5s both;
	animation: slide-in-bottom 0.5s both;
}

.fadein .delay1 {animation-delay: 0.0s; }
.fadein .delay2 {animation-delay: 0.125s; }
.fadein .delay3 {animation-delay: 0.25s; }

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
