
@font-face {font-family: 'Inter-Regular';src: url('/assets/fonts/Inter-Regular.woff') format('woff');}
@font-face {font-family: 'Inter-Bold';src: url('/assets/fonts/Inter-Bold.woff') format('woff');}

$sans-serif: Inter-Regular, sans-serif;
$sans-serif-bold: Inter-Bold, sans-serif;


$ff1: $sans-serif;
$ff2: $sans-serif-bold;
$ff3: $sans-serif-bold;

html {
	font-family: $ff1;
	font-size: $rem-base;
	line-height: 1.75;
	font-weight: 400;
}

$fs1: 1rem;
$fs2: 1.6rem;
$fs3: .9rem;
$fs4: 2rem;
$fs5: 2.6rem;
$fs8: 3rem;
$fs6: 1.2rem;
$fs7: 4rem;

// --------------------------------------------------
// # Headings
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	font-family: $ff2;
	color: $c1;
	padding: 0;
	font-weight: 500;
}

h1  {
	font-size: $fs8;
	line-height: $fs5+0.5rem;
	margin-bottom: $sp3;
	letter-spacing: -0.1rem;
}	

h2 {
	font-size: $fs4 !important;
	margin-top: $fs1;
	letter-spacing: -0.05rem;
}

h2::after {
	content:".";
}

h3, h4, h5, h6 {
	font-size: $fs1 !important;
	margin: $fs1 0 0 0;
}

h4 {
	color: $c2;
}

.home-project .info  h2 {
	margin: 0 0 0.2rem 0;
}

.home-project .info h3 {
	margin: 0;
	font-family: $ff1;
	margin-bottom: $fs1;
}

.home-project .read-more {
	font-family: $ff2;
	color: $c1;
}

.project-intro h2 {
	font-family: $ff1;
	font-size: $fs6 !important;
	margin: 0.5rem 0 0 0;
}

h3 {
	font-family: $ff1;
	font-size: $fs1 !important;
	margin: 0.5rem 0 0 0;
}

.project-intro h2::after {
	content: "";
}

p {
	padding: 0;
	margin: 0;
}

p + p {
	margin-top: 15px;
}

header p + p {
	margin-top: 0;
}

.project-category {
	color: $c3 !important;
	margin: 4px 0;
	font-size: 0.9rem;
}

//// Desktop styles

@media #{$bd} {
	h1 {
		font-size: $fs7;
		line-height: $fs7+0.3rem;
	}
}
